.pallet{
    color:#0C0032, #190061, #240090, #3500D3, #282828;
}

html, body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color:black;
    margin:0;
}

body{
    color:white;
}

p{
    margin:0;
}

button{
    font-family: inherit;
    background-color: #282828;
    color: #3500D3;
    font-size: 25px;
    border:none;
    margin:15px;
    padding:6px;
}

#content, #content2 { 
    background: #190061; 
    max-width: 360px; 
    margin: 100px auto 16px; 
    padding: 32px 24px; 
    text-align: center;
    position:relative;
}

#content2{
    margin-top:250px;
}

footer{
    width:100%;
    text-align: center;
    font-style: italic;
    font-size: 10px;
    margin-bottom: 20px;
}
