.pallet{
    color:#0C0032, #190061, #240090, #3500D3, #282828;
}
html, body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: black;
    color:white;
}

p{
    margin:0;
}

button{
    font-family: inherit;
    background-color: #282828;
    color: #3500D3;
    font-size: 25px;
    border:none;
    margin:15px;
    padding:6px;
}

#content { 
    background: #190061; 
    max-width: 360px; 
    margin: 100px auto 16px; 
    padding: 32px 24px; 
    text-align: center;
}

.footer{
    position: fixed;
    left:0;
    bottom:0;
    width:100%;
    text-align: center;
    font-style: italic;
    font-size: 10px;
}