.pallet{
    color:#0C0032, #190061, #240090, #3500D3, #282828;
}

html, body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color:black;
    margin:0;
}

body{
    color:white;
}

p{
    margin:0;
}

button{
    font-family: inherit;
    background-color: #282828;
    color: #3500D3;
    font-size: 25px;
    border:none;
    margin:15px;
    padding:6px;
}

button:hover{
    background-color: #464646;
}

.content{ 
    background: #190061; 
    max-width: 360px; 
    margin-left: auto;
    margin-right:auto; 
    margin-top:100px;
    padding: 32px 24px; 
    text-align: center;
    position:relative;
}

.box2{
    margin-top:250px;
}

.box2 table{
    margin-left:auto;
    margin-right:auto;
}

.box2 td:hover{
    color:red;
}

.box3{
    margin-top: 500px;
}

.box3 table{
    margin-left:auto;
    margin-right:auto;
}

footer{
    width:100%;
    text-align: center;
    font-style: italic;
    font-size: 10px;
    margin-bottom: 20px;
}
